    <div class="post-area">
        <div class="post">
          <input class="cp-title" type="text" placeholder="Enter H2 text">
          <input type="file" id="myFile" name="filename"></input>
       </div>
    </div>
