<div class="friends-area">
  <div class="friends">
    <div class="friend-header">
      <strong>Friends</strong>
    </div>
    <div class="friend-parent">
      {{#each friends }}
        <div class="friend-item">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Bear-face_-_Sparker_-_game-icons.svg/512px-Bear-face_-_Sparker_-_game-icons.svg.png?20240117193737">
          <br/>{{this.name}}
        </div>
      {{/each}}  
    </div>
  </div>
</div>
