    <div class="post-area">
      {{#each posts }}
        <div class="post">
          <div class="post-title">{{this.title}}</div>
          <div class="post-banner">
            <img src="{{this.banner}}" />
          </div>
          <div class="post-like">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/NotoSans_-_Reversed_Thumbs_Up_Sign_-_1F592.svg/555px-NotoSans_-_Reversed_Thumbs_Up_Sign_-_1F592.svg.png?20220902091737" />
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/NotoSans_-_Reversed_Thumbs_Down_Sign_-_1F593.svg/555px-NotoSans_-_Reversed_Thumbs_Down_Sign_-_1F593.svg.png?20220902091749" />
          </div>
        </div>
      {{/each}}
    </div>
