<div class="sidebar-area">
  <div class="sidebar-item">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/House_-_Delapouite_-_game-icons.svg/512px-House_-_Delapouite_-_game-icons.svg.png?20240117170031" />
    <strong>Home</strong>
  </div>
  <div class="sidebar-item">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Three-friends_-_Delapouite_-_game-icons.svg/512px-Three-friends_-_Delapouite_-_game-icons.svg.png?20240117171636" />
    <strong>Friends</strong>
  </div>
  <div class="sidebar-item">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/304_Kosmona%C5%ADta_kasco.svg/512px-304_Kosmona%C5%ADta_kasco.svg.png?20230127143340" />
    <strong>Acquaintances</strong>
  </div>
</div>
